
			.b-table {
                display: table;
                table-layout: fixed;
            }

            .b-cell {
                display: inline-block;
                
                float: none;
            }

            header{
            	border-bottom: 2px solid #ccc;
            	padding-bottom: 1em;
            }

        	header h1.b-cell{
	        	background: #4aaaa5;
	        	padding: .5em .1em 2em;
	        	text-align: center;
	        	font-size: 27px;
	        	font-family:"Georgia","Times","Times New Roman", "serif";
	        	color: #fff;
	        	font-weight: bold;
	        	margin-bottom: 0;
                margin-top: 0;

	        }

	        header ul{
	        	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	        	color: #ccc;
	        	font-size: 16px;
	        	position: absolute;
	        	left: 1em;

	        }

	        main{
	        	background:url("../assets/imgs/concrete.png");
	        	padding: 1em 0;
	        }


	      	
	        main h1{
	        	margin: 0 1em;
	        	color: #4aa;
	        	font-family: "Georgia","Times","Times New Roman", "serif";
	        	font-weight: bold;
	        	font-size: 26px;
	        	border-bottom: 2px solid #ccc;

	        }

	        input[type="submit"]{
			display: block;
			margin: 1em 0em;
			font-size: 16px;
			padding: .5em;
			background-color: #4aaaa5;
			color: #fff;
			border: none;

			}


			input[type="text"], textarea{
			display: block;
			margin: 0 0;
			width: 25em;
			font-size: 16px;
			padding: .5em;

			}

			label{
				color: #666;
				font-family: "arial";
			}


	     

	        aside{
	        	background-color: #fff;
	        	margin-left: 5em;
	        	padding: 1em;
	        	text-align: center;

	        }

	        aside h1{
	        	color:#4aa;
	        	font-family: "Georgia","Times","Times New Roman", "serif";
	        	font-weight: bold;
	        	font-size: 24px;
	        	border-bottom: 2px solid #ccc;
	        	margin: 1em 0 0;

	        }

	        form{
	        	margin: 0 3em;
	        }

	        form label{
	        	margin: 0 0 .5em;
	        }

	        img{
	        	margin: 1em 0;
	        }




	        footer{
                border-top: 2px solid #4aaaa5;
                background: #666;
                color: #fff;
                padding: 2em; 
                text-align: center; 
                font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
				

            }

