            .b-table {
                display: table;
                table-layout: fixed;
            }

            .b-cell {
                display: inline-block;
                
                float: none;
            }

            header{
                border-bottom: 2px solid #aaa;


            }

            header ul li{
                margin: 0 .3em;
            }

            header.container{
                padding: 0;
            }
            
            header ul.b-cell {  
                text-align: right;
                vertical-align: bottom;
                font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
                color: #aaa;
                font-size: 18px; 
                position: absolute;
                right: 10.2em;
                top: 1.3em;
                

            } 


            header h1.b-cell { 
                background: #4aa;
                padding: .5em .1em;
                text-align: center;
                font-family:'Georgia', Times, Times New Roman, serif;
                font-weight: bold;
                color: #fff;
                margin-bottom: 0;
                margin-top: 0; 
            } 

            main{
                background:url("../imgs/concrete.png");

            }

            main.container{
                padding: 2em 0;
            }


            section{
                padding:0 0 2em;
            }

            section p{
                line-height: 1.9;
                color: #777;
                font-size: 18px;
            }

            section, aside{
                background: #fff;
            }

            section h1, aside h1{
                font-family: 'Georgia', Times, Times New Roman, serif;
                color: #4aaaa5;
                font-size: 26px;
                font-weight: bold;


            }

            section h1{
                border-bottom: 2px solid #ccc;
                padding: .5em 0;
                margin-bottom: 1em;
            }

            #picture{
                float: left;
                margin: 0 1em 0 0;

            }



            aside{
                margin: 0 0 0 2em;
                text-align: center;
                padding: 0 0 1em 0;

            }

            aside h1{
                border-bottom: 2px solid #ccc;
                padding: 0 0 .5em;
                margin: 1em 0;
            }

            footer{
                border-top: 2px solid #4aaaa5;
                background: #666;
                color: #fff;


            }

            footer{  
                background: #666; 
                padding: .5em .1em; 
                text-align: center; 
                font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
                color: #fff; 
                padding: 2em 0; 
            } 